body {
    background-image: url("../images/advertisements-blur-commerce-518543.jpg");
    background-size: cover;
}

div.header h1 {
    color: white;
    font-size: 3.75rem;
    text-align: center;
}

div.header h2 {
    color: white;
    font-size: 1.75rem;
    text-align: center;
}
